* {
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
}

body {margin: 0 auto;}
h1, h2, h3, h4 {
	font-family: 'Bungee Shade', cursive;
}

header {
	margin:0;
	padding: 0;
	height: 160px;
	width: 100%;
	background-color: #ccc;
    background-image: linear-gradient(#fff, #ccc);
}

}
header h1 {
}
.logo {
	position: relative;
	top: 40px;
}

main {
	padding: 20px 60px;
}

fieldset {
	border: none;
}

.graph {
	margin-top: 60px;
}

.graph-placeholder {
	 width: 600px; 
	 height: 300px; 
	 background-color: #ddd; 
	 border: 1px solid #000;
}
