* {
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
}

body {margin: 0 auto;}
h1, h2, h3, h4 {
	font-family: 'Bungee Shade', cursive;
}

header {
	margin:0;
	padding: 0;
	height: 160px;
	width: 100%;
    background-image: linear-gradient(#fff, #63F0FF);
}

}
header h1 {
}
.logo {
	position: relative;
	top: 40px;
}

nav, footer { 
	background-color: #666;
	padding: 10px;
	font-weight: bold;
}
nav a, footer a { 
	color: #fff;
	text-decoration: none;
	 }
nav a:hover, footer a:hover { color: #63F0FF; }

main {
	padding: 20px 60px;
}

fieldset {
	border: none;
}

.graph {
	margin-top: 60px;
}

.graph-placeholder {
	 width: 600px; 
	 height: 300px; 
	 background-color: #ddd; 
	 border: 1px solid #000;
}
